/* :root {
    --header-height: 3rem;
    --nav-width: 68px
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
    /* background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgba(0, 0, 0, 0.74) 85.65%); 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgb(0, 0, 0) 85.65%);
    padding: 0 1rem;
    transition: 0.5s;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background: linear-gradient(177.14deg, #EA0C5C 2.38%, rgb(0, 0, 0) 99.66%);
    padding-top: 1rem;
    transition: 0.5s;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #fff;
}

.nav-logo-name {
    font-weight: 700;
    color: #fff;
}

.nav-link {
    position: relative;
    color: #fff;
    transition: .5s;
    margin-bottom: 3rem;
}

.nav-link:hover {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 3px;
    background-color: #fff;
    transition: 0.5s;
}

.show {
    left: 0;
}

.space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
}

.menu-items{
    border: none;
    text-align: center; 
}

.row{
    padding: 5px;
    justify-content: center;
}

.item-inside{
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1{
    border: none;
}

.img-div{
    border-radius: 10px;
}

@media screen and (min-width: 808px) {
    main {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .sidebar{
        left: 0;
        padding: 1rem 0 0 0;
    }

    .show{
        width: calc(var(--header-height) + 156px);
    }

    .space-toggle{
        padding-left: calc(var(--nav-width) + 188px);
    }
} */


:root {
    --header-height: 3rem;
    --nav-width: 68px
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
    /* background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgba(0, 0, 0, 0.74) 85.65%); */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgb(0, 0, 0) 85.65%);
    padding: 0 1rem;
    transition: 0.5s;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background: linear-gradient(177.14deg, #EA0C5C 2.38%, rgb(0, 0, 0) 99.66%);
    padding-top: 1rem;
    transition: 0.5s;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #fff;
}

.nav-logo-name {
    font-weight: 700;
    color: #fff;
}

.nav-link {
    position: relative;
    color: #fff;
    transition: .5s;
    margin-bottom: 3rem;
}

.nav-link:hover {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 3px;
    background-color: #fff;
    transition: 0.5s;
}

.show {
    left: 0;
}

.space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
}

.menu-items {
    border: none;
    text-align: center;
}

.row {
    padding: 5px;
    justify-content: center;
}

.item-inside {
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topUpdateRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.imageUpdateRecipe {
    width: 300px;
}

.img-fluid {
    border-radius: 14px;
}

@media(max-width: 992px) {
    .imageUpdateRecipe {
        width: 250px;
    }
}

@media(max-width: 490px) {
    .imageUpdateRecipe {
        width: 200px;
    }
}

.headingOneUpdateRecipe {
    margin: 75px;
}

@media(max-width:750px) {
    .headingOneUpdateRecipe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

textarea {
    padding: 15px;
    outline: none;
    font-size: 16px;
    border-color: #a8a8a8;
    border-radius: 5px;
    resize: none;
    transition: .3s;
}

textarea:is(:focus, :valid) {
    border-color: #EA0C5C;
    border-width: 2px;
    padding: 14px;
}

.headingOneUpdateRecipeTextArea1 {
    width: 500px;
    height: 60px;
    margin-top: 15px;
}

@media(max-width:930px) {
    .headingOneUpdateRecipeTextArea1 {
        width: 400px;
    }
}

@media(max-width:750px) {
    .headingOneUpdateRecipeTextArea1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media(max-width:655px) {
    .headingOneUpdateRecipeTextArea1 {
        width: 300px;
        height: 80px;
    }
}

@media(max-width:500px) {
    .headingOneUpdateRecipeTextArea1 {
        width: 200px;
        height: 110px;
    }
}

@media(max-width:430px) {
    .headingOneUpdateRecipeTextArea1 {
        width: 150px;
        height: 130px;
    }
}


.ingredientsUpdateRecipe {
    margin: 75px;
}

.headingOneUpdateRecipeTextArea2 {
    width: 1000px;
    height: 100px;
    margin-top: 15px;
}

@media(max-width:1392px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 800px;
        height: 110px;
    }
}

@media(max-width:1182px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 650px;
        height: 120px;
    }
}

@media(max-width:1010px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 500px;
        height: 130px;
    }
}

@media(max-width:878px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 400px;
        height: 140px;
    }
}

@media(max-width:750px) {
    .ingredientsUpdateRecipe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media(max-width:655px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 300px;
        height: 150px;
    }
}

@media(max-width:500px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 200px;
        height: 160px;
    }
}

@media(max-width:430px) {
    .headingOneUpdateRecipeTextArea2 {
        width: 150px;
        height: 170px;
    }
}


.methodUpdateRecipe {
    margin: 75px;
}

.headingOneUpdateRecipeTextArea3 {
    width: 1000px;
    height: 100px;
    margin-top: 15px;
}

@media(max-width:1392px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 800px;
        height: 110px;
    }
}

@media(max-width:1182px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 650px;
        height: 120px;
    }
}

@media(max-width:1010px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 500px;
        height: 130px;
    }
}

@media(max-width:878px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 400px;
        height: 140px;
    }
}

@media(max-width:655px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 300px;
        height: 150px;
    }
}

@media(max-width:500px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 200px;
        height: 160px;
    }
}

@media(max-width:430px) {
    .headingOneUpdateRecipeTextArea3 {
        width: 150px;
        height: 170px;
    }
}

@media(max-width:750px) {
    .methodUpdateRecipe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.updateRecipeButton{
    margin: 75px;
}

.buttonUpdateRecipe{
    background: #FFFFFF;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #EA0C5C;
    text-align: center;
    border: 1px solid #380618;
    margin-top: -17px;
    transition: .5s;
    width: 150px;
    height: 40px;
}

.buttonUpdateRecipe:hover{
    background: #EA0C5C;
    color: #fff;
}

@media(max-width:750px) {
    .updateRecipeButton {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .buttonUpdateRecipe{
        width: 125px;
    }
}

.bottomResponsivenessUpdateRecipe {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 60px;
}

@media screen and (min-width: 808px) {
    main {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .sidebar {
        left: 0;
        padding: 1rem 0 0 0;
    }

    .show {
        width: calc(var(--header-height) + 156px);
    }

    .space-toggle {
        padding-left: calc(var(--nav-width) + 188px);
    }
}