/* :root {
    --header-height: 3rem;
    --nav-width: 68px
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
    /* background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgba(0, 0, 0, 0.74) 85.65%); 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgb(0, 0, 0) 85.65%);
    padding: 0 1rem;
    transition: 0.5s;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background: linear-gradient(177.14deg, #EA0C5C 2.38%, rgb(0, 0, 0) 99.66%);
    padding-top: 1rem;
    transition: 0.5s;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #fff;
}

.nav-logo-name {
    font-weight: 700;
    color: #fff;
}

.nav-link {
    position: relative;
    color: #fff;
    transition: .5s;
    margin-bottom: 3rem;
}

.nav-link:hover {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 3px;
    background-color: #fff;
    transition: 0.5s;
}

.show {
    left: 0;
}

.space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
}

.menu-items{
    border: none;
    text-align: center; 
}

.row{
    padding: 5px;
    justify-content: center;
}

.item-inside{
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item1{
    border: none;
}

.img-div{
    border-radius: 10px;
}

@media screen and (min-width: 808px) {
    main {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .sidebar{
        left: 0;
        padding: 1rem 0 0 0;
    }

    .show{
        width: calc(var(--header-height) + 156px);
    }

    .space-toggle{
        padding-left: calc(var(--nav-width) + 188px);
    }
} */



:root {
    --header-height: 3rem;
    --nav-width: 68px
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
    /* background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgba(0, 0, 0, 0.74) 85.65%); */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(116.72deg, rgba(234, 12, 92, 0.74) 5.91%, rgb(0, 0, 0) 85.65%);
    padding: 0 1rem;
    transition: 0.5s;
}

.header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background: linear-gradient(177.14deg, #EA0C5C 2.38%, rgb(0, 0, 0) 99.66%);
    padding-top: 1rem;
    transition: 0.5s;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: #fff;
}

.nav-logo-name {
    font-weight: 700;
    color: #fff;
}

.nav-link {
    position: relative;
    color: #fff;
    transition: .5s;
    margin-bottom: 3rem;
}

.nav-link:hover {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active {
    color: aliceblue;
    background-color: (0, 0, 0, 0.1);
}

.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 3px;
    background-color: #fff;
    transition: 0.5s;
}

.show {
    left: 0;
}

.space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
}

.topViewRecipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.imageViewRecipe{
    width: 300px;
}

.img-fluid{
    border-radius: 14px;
}

@media(max-width: 992px){
    .imageViewRecipe{
        width: 250px;
    }
}

@media(max-width: 490px){
    .imageViewRecipe{
        width: 200px;
    }
}

.headingOneViewRecipe{
    margin: 75px;
}

@media(max-width:750px){
    .headingOneViewRecipe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
}

.ingredientsViewRecipe{
    margin: 75px;
}

.ingredientsViewRecipeH5{
    margin-top: 25px;
    font-size: 18px;
}

@media(max-width:750px){
    .ingredientsViewRecipe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
}

.methodViewRecipe{
    margin: 75px;
}

.methodViewRecipeH5{
    margin-top: 25px;
    font-size: 18px;
}

@media(max-width:750px){
    .methodViewRecipe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
}

.bottomResponsiveness{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* .menu-items{
    border: none;
    text-align: center; 
}
.row{
    padding: 5px;
    justify-content: center;
}
.item-inside{
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item1{
    border: none;
}
.img-div{
    border-radius: 10px;
} */

@media screen and (min-width: 808px) {
    main {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }

    .header{
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .sidebar{
        left: 0;
        padding: 1rem 0 0 0;
    }

    .show{
        width: calc(var(--header-height) + 156px);
    }

    .space-toggle{
        padding-left: calc(var(--nav-width) + 188px);
    }
}